/.venv/
__pycache__
/anime_face_detector/LICENSE

# tensorflow GPUで使用するdll
/dll/
/CUDA/
# 学習用のデータセット
/dataset/
*.csv
# モデルの学習状態を保存する
/image_ai/models/
/logs/
# ログを出力するディレクトリ
/data/
# テスト段階のプログラム
/test/
