__pycache__
/.venv/
/.vscode/
/anime_face_detector/LICENSE

# tensorflow GPUで使用するdll
/dll/
/CUDA/
# 学習用のデータセット
/dataset/
*.csv
# モデルの学習状態を保存する
/models/
/logs/
# ログを出力するディレクトリ
/data/
# テスト段階のプログラム
/test/

# パッケージ化
/build/
/dist/
/tensorflow_image.egg-info/
