cython
numpy
tqdm
opencv-contrib-python
pillow
absl-py
tensorflow
matplotlib
nlib3
pandas
# Data preprocessing relations
scipy

# Model diagram output
pydot3
pydotplus
graphviz

# ResNet-RS trained model
git+https://github.com/sebastian-sz/resnet-rs-keras@main
